main {
    display: flex;
}

#product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: fit-content;
    margin: 30px 15px;
}

#product-sect-image {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#product-image-cnt {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-image {
    width: 100%;
    max-height: 350px;
    display: flex;
    margin: auto;
}

#product-sect-image figcaption {
    color: #505050;
    font-size: 15px;
    width: 100%;
}

#product-sect-text {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#product-title {
    padding: 10px;
    font-size: 50px;
}

#product-slogan {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: var(--pink-color);
    color: var(--background-color);
    padding: 10px;
    border-radius: 12px;
}

#product-information {
    font-size: 18px;
    width: 100%;
}

#product-price {
    font-size: 25px;
    color: var(--pink-color);
    background-color: var(--background-color);
    border: 1px solid var(--pink-color);
    padding: 10px;
    width: fit-content;
}

@media only screen and (min-width: 450px) {
    #product {
        flex-direction: column;
    }
    
    #product-title {
        font-size: 65px;
    }
    
    #product-slogan {
        font-size: 22px;
    }
    
    #product-information {
        width: 100%;
        max-width: 500px;
    }
    
    #product-price {
        font-size: 30px;
    }
}

@media only screen and (min-width: 875px) {
    #product {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        width: 95%;
        height: fit-content;
        margin: auto;
    }

    #product-sect-image {
        height: 450px;
    }
    
    #product-image-cnt {
        max-width: 650px;
        height: 400px;
    }
    
    #product-image {
        max-height: 400px;
    }

    #product-sect-text {
        width: 45%;
        height: 450px;
        gap: 0;
        padding: 20px;
    }

    #product-information {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    #product-information {
        width: 90%;
    }
}